.layout{
  padding: 10px;

}

.editIcon{
  cursor: pointer;
  width: 100%;
  text-align: center;

  &:hover{
    color: #1677ff;
  }
}

.row{
  margin-top: 20px;

}

.label{

  font-weight: bold;

  flex-shrink: 0;

  span{
    cursor: pointer;
  }
}

.value{
  padding-left: 10px;
  overflow-wrap: break-word;
}

.url{
  overflow: hidden;
}

.password{
  padding-left: 0;
}

@media (max-width: 991px) {
  .layout{
    padding-top: 0;
  }
}