.layout{
    display: flex;
    flex: auto;
}

.viewLayout{
    background-color: #f5f5f5;
    flex: auto;
    overflow: auto;
    position: relative;
    height: 100%;

    scrollbar-width: thin;
    scrollbar-color: #bcbdc2 transparent;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }



    &::-webkit-scrollbar-thumb {
        background-color: #bcbdc2;
        border-radius: 5px;
        border: 3px solid #f5f5f5;
    }

    .viewLayoutClose{
        display: none;
    }
}

.groupLayout{
    flex: 0 0 250px;
    min-width: 0;
}

@media (max-width: 991px) {
    .viewLayout{

        position: absolute;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
        transition: left 0.5s;

        &.viewLayoutActive{
            left:0;
         }

        .viewLayoutClose{
            display: block;
        }

    }


}

@media (max-width: 576px) {
    .groupLayout{

        position: absolute;
        left: -100vw;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: left 0.5s;

        &.groupLayoutActive{

            left:0;
            width: 100%;
        }
    }
}